*{
   margin:0px;
   padding:0px;
   font-family: 'Open Sans', sans-serif;
}
body{
    width:100%;
    height:100%;
    min-height: 500px;
    min-width: 1000px;
}
h1,h2,h3,h4,h5{
    font-family: 'Permanent Marker', cursive;
}
a{
    display: inline-block;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px black;
    color:black;
    background: palevioletred;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}
a:hover{
    box-shadow: inset 0px 0px 4px 2px #000000;
    background: rgb(161, 83, 110);
    transition: box-shadow .5s, background .5s, width .5s, margin .5s, color .3s;
    margin:0px;
    width: 110px;
    color: rgb(218, 216, 216);
}
a:active{
    box-shadow: inset 0px 0px 4px 2px black;
    background: rgb(131, 67, 89);
    transition: box-shadow .3s, background .3s;
}
#shadow>h1{
text-align: center;
margin-top: 50px;
font-size: 30pt;
}
#shadow>h2{
    text-align:center;
    margin-top: 10px;
}
#shadow>p{
    text-align: center;
    width: 50%;
    margin:auto;
    margin-top: 20px;
}
#shadow>a{
    display:block;
    width:fit-content;
    margin:auto;
    margin-top: 20px;
}
#shadow>a[href="/chat"]{
    margin: 40px 0px 0px 40px;
}
#logout{
    margin:auto;
    margin-top: 15px;
}
#signup{
    width:50%;
    margin:auto;
    margin-top: 100px;
    box-shadow: inset 0px 0px 5px 1px black;
    text-align: center;
}
#signup ul{
    list-style-type: none;
}
#signup li{
    
    padding: 5px;
    border-top: 1px solid black;
}
#login{
    width:fit-content;
    margin:auto;
    margin-top: 15px;
}
#fixed-top{
    width:100%;
    height:10%;
    min-height:55px;
    position: fixed;
    top:0px;
    left:0px;
    margin: 0px;
    padding: 0px;
    background:aquamarine;
    box-shadow: 0px 0px 2px 3px aquamarine;
    z-index: 20;
}
#account-link{
    margin-left:10px;
    display: inline-block;
    margin-right: 20px;
    text-decoration: underline;
    cursor:pointer;
}
#account-link:hover{
    color:white;
    text-shadow: 1px 1px black;
    transition: color .1s, text-shadow .3s ;
}
#fixed-top>h2{
    display: inline-block;
    margin-left: 100px;
}
#side-capsule{
    width:20%;
    height:90%;
    position:fixed;
    top:10%;
    left:0px;
    margin: 0px;
    padding: 5% 0px 0px 0px;
    z-index:5;
    background:lightgray;
    box-shadow:inset 0px 0px 10px 1px black;
}
#math{
    background:palevioletred;
}
#code{
    background: paleturquoise;
}
#science{
    background: palegoldenrod;
}
.chat-tab{
    width:35%;
    padding:10px 0px 10px 0px;
    position:relative;
    display:none;
    left:75%;
    border-radius:25px 0px 0px 25px;
    box-shadow: 0px 5px 10px -5px black;
    text-align: center;
    transition: z-index 1s, left 1s, width 1s;
    cursor: pointer;
}
.chat-tab:hover{
    z-index: 2;
    left:65%;
    width: 35%
}
.chat-tab:active{
    left:60%;
    width: 40%;
}
.active{
    left: 60%;
    width: 40%;
}
#chat-Toggle{
    display:none;
    transition: display 3s;
}
#instru-toggle{
    transition: display 3s;
    text-align: right;
    padding-top: 50px;
    padding-right: 25px;
    font-size: 30pt;
}
/*Modal*/
#Modal{
    display: none;
    position: fixed;
    z-index: 10000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background: rgba(0,0,0,.4);
}
#modal-content{
    background-color: white;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 150px;
    width:75%;
    border: 3px solid palegreen;
    border-radius: 25px;
}
#modal-submit{
    border: 1px solid #000;
    padding: 4px;
    height: 50px;
    box-sizing:border-box;
    margin-top: 14px;
}
#modal-summary{
    display: none;
    margin:auto;
    width:100%;
    height: 100%;
    text-align: center;
}
#modal-summary-best{
    overflow: scroll;
    height:150px;
    width:60%;
    margin:auto;
    border: 2px solid palevioletred;
}
#modal-summary-messages{
    overflow: scroll;
    height:15f0px;
    width:60%;
    margin:auto;
    border:1px solid paleturquoise;
}
#modal-inner-content{
    display:none;
    margin:auto;
    width: 100%;
    height:400px;
    text-align:center;
}
#modal-inner-content h1 {
    text-align: center;
    margin: 10px;
}
#modal-question{
    display:block;
    width: 500px;
    height: 80px;
    margin:auto;
}
#askButton{
    display:none;
    cursor: pointer;
    background: palevioletred;
    padding: 5px;
    border-radius:5px;
    box-shadow: 0px 0px 5px 5px black;
    text-align:center;
    margin-top: 20px;
}
#askButton:hover{
    box-shadow: inset 0px 0px 5px 2px black;
}
#queue-box{
    display:none;
}
.content{
    position: absolute;
    width:70%;
}
.merit{
    position:absolute;
    width:10%;
    height:90%;
    border: solid 1px rgb(77, 128, 77);
    border-radius: 5px;
    background:aquamarine;
    right:0px;
    margin-top:4px;
    margin-right: 5px;
    transition: border 1s, border-radius 1s, background 1s;
    cursor: pointer;
}
.merit > h3{
    text-align: center;
    margin-top:25px;
}
.merit:hover{
    border: solid 1px palegreen;
    border-radius: 20px;
    background:rgb(102, 206, 169);
}
.merit:active{
    border: solid 1px rgb(77, 128, 77);
    border-radius: 15px;
    background:palegreen;
    transition: border .3s, border-radius .3s, background .3s;
}
main{
    position:absolute;
    display:block;
    width:80%;
    height:90%;
    left:20%;
    top:10%;
    box-shadow: inset 0px 0px 10px 1px aquamarine;
    background:white;
    z-index: 10;
}
#shadow{
    box-shadow: 0px 0px 10px 1px black;
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
#clock-container{
    position:absolute;
    display:block;
    width:30%;
    height:20%;
    left:70%;
    top:0%;
    background:paleturquoise;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    min-height:120px;
    box-sizing: border-box;
}
#question-container{
    position:absolute;
    display:block;
    width:70%;
    height:20%;
    left:0%;
    top:0%;
    border-radius: 0px 0px 25px 25px;
    background:palevioletred;
    text-align: center;
    min-height: 120px;
    box-sizing: border-box;
}
#the-question{
    display:block;
    width:80%;
    margin:auto;
    margin-top:20px;
    word-wrap: break-word;
}
#clock{
    margin-top:30px;
}
#extend-clock{
    width:fit-content;
    display:block;
    cursor:pointer;
    border-radius:4px;
    background:palegoldenrod;
    border:2px solid black;
    padding: 4px;
    margin:auto;
}
#extend-clock:hover{
    background: rgb(160, 152, 86);
}
#chat-container{
    position:absolute;
    display:block;
    width:100%;
    height:60%;
    left:0%;
    top:20%;
    overflow:auto;
}
#message-field{
    position:absolute;
    display:block;
    width:100%;
    height:20%;
    left:0%;
    top:80%;
    box-sizing: border-box;
    border-top: 2px solid paleturquoise;
    padding-top: 10px;
}
#true-message-field{
    display:block;
    width:90%;
    left:0%;
    font-size: 15pt;
    margin:auto;
}
#queue-box{
    position: absolute;
    top:50%;
    width:70%;
    height:30%;
    margin-left:5%;
}
.message{
    position:relative;
    height:100px;
    width:99%;
    border-bottom:2px solid paleturquoise;
    text-align: left;
    margin:auto;
    box-sizing: border-box;
    padding-left: 11%;
    padding-right: 11%;
    overflow-wrap: break-word;
}
#vert-line{
    position: absolute;
    top:0;
    left: 10%;
    border-left:2px solid palevioletred;
    height:100%;
    width: 3px;
}
p>.message{
    display:block;
    left:10%;
    top:30%;
    font-size: 15pt;
}
h3>.message{
    display:block;
    left:20%;
    top:0%;
    margin-top: 1%;
    font-size:20pt;
}