*{
   margin:0px;
   padding:0px;

}
body{
    width:100%;
    height:100%;
}
#fixed-top{
    width:100%;
    height:10%;
    position: fixed;
    top:0px;
    left:0px;
    margin: 0px;
    padding: 0px;
    background:aquamarine;
    box-shadow: 0px 0px 2px 3px aquamarine;
    z-index: 20;
}
#side-capsule{
    width:20%;
    height:90%;
    position:fixed;
    top:10%;
    left:0px;
    margin: 0px;
    padding: 5% 0px 0px 0px;
    z-index:5;
    background:lightgray;
    box-shadow:inset 0px 0px 10px 1px black;
}
#math{
    background:palevioletred;
}
#code{
    background: paleturquoise;
}
#science{
    background: palegoldenrod;
}
.chat-tab{
    width:35%;
    padding:10px 0px 10px 0px;
    position:relative;
    display:block;
    left:75%;
    border-radius:25px 0px 0px 25px;
    box-shadow: 0px 5px 10px -5px black;
    text-align: center;
    transition: z-index 1s, left 1s, width 1s;
    cursor: pointer;
}
.chat-tab:hover{
    z-index: 2;
    left:65%;
    width: 35%
}
.chat-tab:active{
    left:60%;
    width: 40%;
}
.active{
    left: 60%;
    width: 40%;
}
#chat-Toggle{
    display:none;
    transition: display 3s;
}
#instru-toggle{
    transition: display 3s;
    text-align: center;
    padding-top: 50px;
    font-size: 30pt;
}
/*Modal*/
#Modal{
    display: none;
    position: fixed;
    z-index: 10000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background: rgba(0,0,0,.4);
}
#modal-content{
    background-color: white;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 150px;
    width:75%;
    border: 3px solid palegreen;
    border-radius: 25px;
}
#modal-submit{
    border: 1px solid #000;
    padding: 10px;
}
#modal-summary{
    display: none;
    margin:auto;
    width:fit-content;
    height: 70%;
    text-align: center;
}
#modal-summary-messages{
    overflow: scroll;
    height:70%;
}
#modal-inner-content{
    display:none;
    margin:auto;
    width: fit-content;
}
#askButton{
    display:none;
    cursor: pointer;
}
#queue-box{
    display:none;
}
#best{
    border: 2px solid palevioletred;
}
.content{
    position: absolute;
    width:70%;
}
.merit{
    position:absolute;
    width:10%;
    height:90%;
    border: solid 1px rgb(77, 128, 77);
    border-radius: 15px;
    background:palegreen;
    right:0px;
    margin-top:4px;
    margin-right: 5px;
    transition: border 1s, border-radius 1s, background 1s;
    cursor: pointer;
}
.merit > h3{
    text-align: center;
    margin-top:10px;
}
.merit:hover{
    border: solid 1px palegreen;
    border-radius: 20px;
    background:rgb(77, 128, 77);
}
.merit:active{
    border: solid 1px rgb(77, 128, 77);
    border-radius: 15px;
    background:palegreen;
    transition: border .3s, border-radius .3s, background .3s;
}
main{
    position:absolute;
    display:block;
    width:80%;
    height:90%;
    left:20%;
    top:10%;
    box-shadow: inset 0px 0px 10px 1px aquamarine;
    background:rgb(231, 231, 231);
    z-index: 10;
   
    
}
#shadow{
    box-shadow: 0px 0px 10px 1px black;
    width:100%;
    height:100%;
}
#clock-container{
    position:absolute;
    display:block;
    width:30%;
    height:20%;
    left:70%;
    top:0%;
    background:paleturquoise;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
}
#question-container{
    position:absolute;
    display:block;
    width:70%;
    height:20%;
    left:0%;
    top:0%;
    border-radius: 0px 0px 25px 25px;
    background:palevioletred;
    text-align: center;
}
#the-question{
    margin-top: 30px;
}
#clock{
    margin-top:30px;
}
#chat-container{
    position:absolute;
    display:block;
    width:100%;
    height:60%;
    left:0%;
    top:20%;
    overflow:auto;
}
#message-field{
    position:absolute;
    display:block;
    width:100%;
    height:20%;
    left:0%;
    top:80%;
}
#true-message-field{
    display:block;
    width:90%;
    left:0%;
    font-size: 30pt;
    margin:auto;
}
#queue-box{
    position: absolute;
    top:50%;
    width:70%;
    height:30%;
    margin-left:5%;
}
.message{
    position:relative;
    height:100px;
    width:99%;
    border-bottom:2px solid palegoldenrod;
    text-align: left;
    margin:auto;
}
p>.message{
    display:block;
    left:10%;
    top:30%;
}
h3>.message{
    display:block;
    left:20%;
    top:0%;
    margin-top: 1%;
}