
<main>
  <div id="chat-Toggle">
      <section id="question-container">
        <h1>PlaceHolderQuestion</h1>
      </section>
      <time id="clock-container">
        <h1 id="clock">1:00</h1>
      </time>
      <div id="chat-container">
      </div>
      <div id="message-field"><input id="true-message-field"></input></div>
  </div>
  <div id="instru-Toggle">
    <h1>Select a chat on the left</h1>
  </div>
</main>