
<main>
  <div id="shadow">
  <div id="vert-line"></div>
  <div id="chat-Toggle">
      <section id="question-container">
        <h3 id="the-question">No Question Asked</h3>
      </section>
      <time id="clock-container">
        <h1 id="clock">0:00</h1>
        <h3 id="extend-clock">Extend Time for 100 Merits</h3>
      </time>
      <div id="chat-container">
      </div>
      <div id="message-field"><textarea id="true-message-field" maxlength="168" rows="3" disabled="true"></textarea></div>
  </div>
  <div id="instru-toggle">
    <h1>Select a chat on the left</h1>
    <h1>to join in!</h1>
  </div>
  </div>
</main>
<script>
    //show the tabs
    $(document).ready(()=>{
    $('.chat-tab').css('display','block');
    });
</script>