<main>
    <div id="shadow">
        <h1>Login or Sign-up to participate</h1>
        <p>Ask a question, or help answer anothers question. Gain merits if your answer gets 
            liked, which you can spend to extend the timer when you ask a question.</p>
    </div>
</main>