<!DOCTYPE html>
  <html lang="en"> 
  <head>
  <title>App</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <nav id="fixed-top">
      {{#if account}}
        <a href="/logout">Log Out</a>
      {{else}}
         <section id="login">
            <form id="loginForm" name="loginForm" action="/login" method="POST" class="mainForm">
              <label for="userL">Username: </label>
              <input id="userL" type="text" name="username" placeholder="username"/>
              <label for="passL">Password: </label>
              <input id="passL" type="text" name="password" placeholder="password"/>
              <input type="hidden" name="_csrf" value={{csrfToken}} />
              <a id="loginSubmit" href="#" class="formSubmit">Sign in</a>
            </form>
            <a href="/signup">Sign up</a>
          </section>
      {{/if}}
    </nav>
    <div id="side-capsule">
      <div class="chat-tab" id="math"><h2>Math</h2></div>
      <div class="chat-tab" id="code"><h2>Code</h2></div>
      <div class="chat-tab" id="science"><h2>Science</h2></div>
      
      <div id="queue-box"><h1 id="queue-count">Questions in Queue: 0</h1>
      <div id="askButton"><h2>Ask A Question!</h2></div>
      </div>
    </div>
    <div id="Modal">
      <div id="modal-content">
        <div id="modal-summary">
          <h1>Your question in review!</h1>
          <div id="modal-summary-best"></div>
          <h2>All Messages:</h2>
          <div id="modal-summary-messages"></div>
        </div>
        <div id="modal-inner-content">
          <p>Whats your question?</p>
          <textarea id="modal-question"></textarea>
          <a id="modal-submit" href="#">Submit Question</a> 
        </div>
      </div>
    </div>
    {{{body}}}
  </body>
    <script>
    //serverside variables
    {{#if account}}
   const account = {{{account}}};

   {{/if}}
  </script>
  <script src="/assets/js/compiled.js"></script>
  </html>